@import "../../../styles/breakpoints.scss";
.task-manager {
  padding: 0 40px;
  margin: 40px auto;
  min-width: 300px;
  width: 850px;
  text-align: center;
  @include large {
    width: 640px;
  }
  @include medium {
    width: 450px;
  }
  @include small {
    width: 300px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
  }
}

.user-header {
  height: 50px;
  width: 280px;
  margin-left: auto;
  background-color: #fff;
  color: #000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__user-img {
    font-size: 35px;
  }
  &__name {
    font-size: 25px;
  }
  &__logout {
    font-size: 25px;
  }
}
.btn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  @include large {
    font-size: 20px;
  }
  @include small {
    font-size: 12px;
  }
}

.create-task {
  display: flex;
  justify-content: center;
  &__input {
    width: 300px;
    border: 3px solid #89d4ac;
    border-right: none;
    font-size: 18px;
    padding: 8px;
    background-color: #388e7d;
    outline: none;
    color: #fff;
  }

  ::placeholder {
    color: #fff;
  }
  &__btn {
    background-color: #388e7d;
    border-top-right-radius: 10px;
    border: 3px solid #89d4ac;
  }
}

$bright: #df4949;
$base: #45b29d;

.tasks-header {
  background-color: #544a4a;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tasks-list__task:nth-child(odd) {
  background: darken(#3ea08d, 5%);
}

.tasks-header {
  display: flex;
  margin-top: 30px;
  padding: 0 15px;
  align-items: center;

  &__name {
    width: 430px;
    @include large {
      width: 270px;
    }
    @include large {
      width: 190px;
    }
  }
  &__author {
    width: 50px;
    @include medium {
      display: none;
    }
  }
  &__date {
    width: 120px;
    @include small {
      display: none;
    }
  }

  &__options {
    width: 175px;
  }
}

.tasks-list {
  &__task {
    // height: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    @include medium {
      font-size: 15px;
    }
    @include small {
      font-size: 12px;
    }
  }

  &__task:hover {
    background: $bright;
  }
}

.task-done {
  opacity: 0.7;
  .task-name{
    text-decoration: line-through;
  }
}


.task {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.task-status {
  display: flex;
  align-items: center;
  margin-left: 10px;
  &__checkbox {
    width: 30px;
    height: 30px;
  }
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 3px solid $base;
  width: 100%;
  padding: 0 20px;

  &__author-name{

    @include medium {
      display: none;
    }
  }

  &__date{
    @include small {
      display: none;
    }
  }
  
}
.task-name {
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 480px;
  @include large {
    width: 290px;
  }
  @include medium {
    width: 160px;
  }
  @include small {
    width: 95px;
  }
}

.fa-plus {
  margin-right: 10px;
}
.task-control {
  align-items: center;
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.task-update {
  border-right: 3px solid #45b29d;
  border-left: 3px solid #45b29d;
  padding-left: 10px;
}

.send-tasks {
  overflow-y: scroll;
  height: 100px;
 
}

.user-list {
  &__item {
    font-size: 20px;
  }
}

@keyframes wiggle {
  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-999px);
  }

  60% {
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fa-trash-alt,
.fa-edit,
.fa-caret-square-down,
.fa-paper-plane {
  cursor: pointer;
  &:hover {
    animation: wiggle 0.4s linear infinite;
  }
}

.item-enter {
  animation: slideIn 0.4s ease-in-out;
}

.item-leave {
  animation: bounceOut 0.4s linear;
}

.item-open {
  animation: open 0.4s linear;
}
